##template variables
##
##template content
! example of freeform template
feature telemetry

telemetry
  destination-profile
    use-vrf management
  destination-group 1
    ip address 1.1.1.1  port 57000 protocol gRPC encoding GPB
  sensor-group 1
    data-source DME
    path sys/ch depth unbounded
  sensor-group 2
    data-source DME
    path sys/intf depth unbounded
  subscription 1
    dst-grp 1
    snsr-grp 1 sample-interval 10000
  subscription 2
    dst-grp 1
    snsr-grp 2 sample-interval 10000
##

